.hero {
    background-color: var(--bg-main);
    height: 80vh;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3.5rem;
}

.hero-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.hero-left, .hero-right {
    flex: 1;
}

.hero-text p {
    color: var(--text);
    background-color: var(--white);
    width: 100%;
    max-width: 14rem;
    padding: .7rem 0 .7rem 0;
    text-align: center;
    border-radius: .7rem;
    cursor: pointer;
}

.hero-text h1 {
    font-size: 3.5rem;
    color: var(--green);
    margin-block: 1.5rem;
    margin-block-end: 3rem;

    max-width: 600px;
    width: 100%;
}

.hero-user {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.hero-btn {
    background-color: var(--orange);
    color: var(--white);
    padding: 1.3rem 2.4rem;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: .6rem;
}

.hero-img {
    display: flex;
    align-items: center;
    position: relative;
    margin-right: 4rem;
}

.hero-img .user-two {
    position: absolute;
    top: 0;
    right: -35px;
}

.hero-img .user-three {
    position: absolute;
    top: 0;
    right: -65px;
}

.right-img {
    position: relative;
}

.calendar {
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 50px;
    height: 50px;
    background-color: var(--blue);
    border-radius: .5rem;
}

.hero-calendar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    position: absolute;
    top: 55%;
    right: 59%;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 1rem;
    width: 17rem;
    height: 100px;

    backdrop-filter: blur(9px);
}

.calendar-text {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: .5rem;
}

.calendar-text .calendar-pone{
    font-weight: bold;
    font-size: 1.1rem;
}

.calendar-text .calendar-ptwo{
    font-size: .9rem;
}

.hero-stats {
    position: absolute;
    top: 35%;
    right: 17%;
    background-color: var(--orange);
    width: 55px;
    height: 55px;
    border-radius: .5rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.stats {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    padding: .4rem .4rem;
    border-radius: .5rem;

}

.right-img img {
    max-width: 670px;
    width: 100%;
}

.space-more {
    position: absolute;
    top: 118%;
    left: 50%;
    transform: translate(-50%,-50%);

    border: 2.3rem solid var(--bg-main);
    border-radius: 50%;
}

@media (max-width: 568px) {
    .hero {
    height: 80vh;

    border-bottom-left-radius: 3.5rem;
    border-bottom-right-radius: 3.5rem;

    border-top-left-radius: 0;
    border-top-right-radius: 0;

    padding: 0 .5rem;

    /* margin-top: 5rem; */
}

.hero-left {
    flex: 100%;
}

.hero-text p {
    width: 100%;
    max-width: 12rem;
    padding: .5rem 0 .5rem 0;
    border-radius: .7rem;
    margin: 0 auto;
}

.hero-text h1 {
    font-size: 2rem;
    color: var(--green);
    margin-block: 1rem;
    margin-block-end: 2rem;
    text-align: center;

    max-width: 600px;
    width: 100%;
}


.space-more {
    top: 135%;

    border: 1.3rem solid var(--bg-main);
}

.space-more img {
    width: 100%;
}

.right-img {
    display: none;
}

.hero-user {
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    gap: 1rem;
}


}