.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--bg-main);
    transition: all .5s ease;
    padding: 1.5rem 0;
    z-index: 5;
}

.scrollbar {
    background-color: whitesmoke;
    padding: 1.3rem 0;
}

.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__nav .header__menu {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    list-style-type: none;
}

.header__list a {
    display: inline-block;
    text-align: center;
    width: 6rem;
    text-decoration: none;
    color: var(--text);
}


.header__list a:where(:hover, :focus-visible):not(:active) {
    color: var(--orange);
}

.header__list .activ {
    color: var(--orange);
    font-weight: bold;
}

.header__list .activ:where(:hover, :focus-visible):not(:active) {
    color: var(--text);
    font-weight: bold;
}

.header__auth {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.btn__login {
    color: var(--green);
    background-color: var(--white);
}

.btn__login:where(:hover, :focus-visible):not(:active) {
    color: var(--white);
    background-color: var(--green);
}

.btn__signup {
    color: var(--white);
    background-color: var(--green);
}

.btn__signup:where(:hover, :focus-visible):not(:active) {
    color: var(--green);
    background-color: var(--white);
}

.menu {
    display: none;
}

@media (max-width: 568px) {

    .header {
    padding: 1.5rem .8rem;
}

    .header__logo img {
        width: 8rem;
    }

    .header__nav .header__menu {
        position: absolute;
        top: 70%;
        right: -100%;
        background-color: #fff;
        padding: 1.5rem 1rem;
        border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    list-style-type: none;
}

.header__nav .header__menu.active {
    right: 5%;
}

.header__auth {
    position: absolute;
    top: 265%;
    padding: 1.5rem 1.8rem;
    right: -100%;
    background-color: #fff;
    
    flex-direction: column;
    gap: .5rem;
    font-size: .8rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;

    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.header__auth.active {
    right: 5%;
}

.header__auth  .btn__signup{
    width: 70px;
    height: 15px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.header__auth  .btn__login{
    width: 70px;
    height: 15px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.menu {
    display: block;
}
}