:root {
  --bg-main: #D2E6E4;
  --green: #0B7077;
  --white: #FFFFFF;
  --orange: #FD661F;
  --text: #252641;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.btn {
  text-align: center;
  width: 120px;
  padding: 1rem;
  background-color: red;
  text-decoration: none;
  border-radius: .6rem;
  text-transform: uppercase;
  transition: all .5s ease;
}

html {
  height: 200vh;
}